<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dbtechprojects.pokemonApp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".util.HiltAndroidApp"
        android:allowBackup="true"
        android:icon="@drawable/pokeball"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pokeball"
        android:supportsRtl="true"
        android:theme="@style/splashTheme">
        <activity android:name=".ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Remove WorkManager default initialization -->
        <!--https://stackoverflow.com/questions/52657196/android-work-manager-could-not-instantiate-worker-->
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />


</manifest>